* {
  box-sizing: border-box;
  --flagHeight: 2.7vh;
  --recordValueCellHeight: 1.875rem;
  --recordsFontRatio: 0.9;
  --recordValueCellWidth: 4rem;
  --recordTypeHeightRatio: 75%;
  --recordsNotificationFontSize: 2.0em;
}

.wrapper {
  padding: 1em;
}

.blockPositioningWrapper {
  padding: 0;
}
